.Book {
    /* padding: 5px; */
    background-color: brown;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    width: 50vw;
    font-size: 1.6vh;
    border: 1px solid black;
    overflow: hidden;
}

.Book:hover {
    background-color: bisque;
    color: black;
}

.BookBox p {
    width: 20%;
    height: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.BookBox p span {
    font-weight: bold;
    font-size: 2vh;
}

.BookBox {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}