.navbar {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 20px;
    margin: 10px 20px;
    background-color: blanchedalmond;
}

button {
    padding: 5px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: bisque;
    color: black;
}